# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*ann

# Directory
**/.vscode/**
**/graph/**
**/build/**
.cache*

# Tests
!test_ann*.txt
!test_ann*.cpp
!test_ann*.hh
!test_ann*.h

# clangd
compile_commands.json
.clang-format

# MacOs bullshit
.DS_Store